---
layout: base.pug
permalink: resources/assets/
title: Asset library
description: Interesting links and stuff
---
h1 Asset library
h2.sr-only Introduction
p All of the assets findable here are...
ul
    li ... uploaded with permission of the creators
    li ... freely usable/editable for other antifascists

h2 Assets