---
layout: page.md
permalink: resources/
order: 6
title: Resources
description: Freely usable antifascist assets & interesting links
---
h1 Resources

h2 Asset library
p
    a(href="/resources/assets") Click here to view the asset library

each links in AFALinks
    h2=links.title
    if links.subtitle
        p=links.subtitle
    ul
        each entry in links.entries
            li
                a(href=entry.url)=entry.name
