@import "style/variables";

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link {
    float: left;
    position: absolute;
    left: -10000px;
    top: auto;
    overflow: hidden;
    color: white;
    background-color: $two;
    padding: 5px;

    
    &:link, &:visited, &:hover,  &:active {
        color: white
    }
    
    &:focus {
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
    }
}