@font-face {
    font-family: "OpenDyslexic";
    font-style: normal;
    src: url("/assets/fonts/OpenDyslexic/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
    font-family: "OpenDyslexic";
    font-style: oblique;
    src: url("/assets/fonts/OpenDyslexic/OpenDyslexic-Bold.otf") format("opentype");
}

@font-face {
    font-family: "OpenDyslexic";
    font-style: italic;
    src: url("/assets/fonts/OpenDyslexic/OpenDyslexic-Italic.otf") format("opentype");
}

