#scale {
    position: relative;
}
#scale input {
    position: absolute;
    top: 0;
}
#scale img {
    max-width: 50px;
}

$track: "&::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track";

input[type=range] {
    color: red;
    & {
        #{$track} {
            display: none;
        }

    }
}

