---
layout: page.pug
permalink: blog/
order: 5
title: Blog
description: News, important info &amp; guides
---

h1 Blog posts

ul
    for post, index in AFABlog
        li
            a(href="/blog/" + post.id)
                span=post.title
                p=post.description
            hr

