---
layout: page.pug
permalink: blog/
order: 5
title: Blog
description: News &amp; tutorials written by Antifantwerp
---

h1 Blogs


nav 
    ul
        for post, index in AFABlog
            li
                a(href="/blog/" + post.id)
                    article
                        h2=post.title
                        p=post.description
                    
            hr
