---
layout: page.pug
permalink: watchpigeon/
order: 4
title: Watchpigeon
description: Want to know whether political parties in and around Antwerp actually support their statements? Now you can. Complete with sources!
---
main
    nav
        ul.grid
            -
                const areas = new Set();
                AFAWatchpigeonParties.forEach(party => party.areas.forEach(area => areas.add(area)))
            each place in Array.from(areas)
                a(href="/watchpigeon/" + place)
                    li
                        article
                            header=place
                            img(src="/assets/watchpigeon/" + place + ".svg", alt="Flag from " + place)

