---
layout: base.pug
permalink: political-parties/
title: Political Parties
description: Want to know whether political parties in Antwerp and around actually support their statements? Now you can. Complete with articles.
---
main#main
    h1 Political parties
    p This page has been moved to&nbsp;
        a(href="/watchpigeon/") /watchpigeon/
        | !
    p Attempting to redirect in 2 seconds...

    script.
        setTimeout(()=> {window.location.href = "/watchpigeon";}, 2000)
