---
layout: page.pug
permalink: /
order: 0
title: Home
description: A small puddle of information for being anti-fascist in Antwerp. Information about stickers to (not) look out for, or organisations to lend aid to!
---

main#main
    h1 Antifantwerp
    p=description

    h2.sr-only Pages

    - collections.page.sort((pageA, pageB) => pageA.data.order - pageB.data.order);  // https://stackoverflow.com/a/979289a
    nav
        ul
            each page in collections.page
                if page.data.title != "Home"
                    a(href=page.url)
                        li
                            article
                                header
                                    h3=page.data.title
                                p !{page.data.description}

