---
layout: page.pug
title: Stickers
---

main#main 
    h1 Stickers 
    p Information about stickering from both sides.

    article 
        h2 Covering/removing stickers 
        p. 
            (Content warning for bodily injury: if so, skip this section with the takeaway "cover, don't remove")
            Please keep in mind that some far-right people have been shown to attempt to stop by putting razor blades
            under their stickers. This means that, when faced with a sticker you wish removed.

        ul
            li Use a tool to remove it 
            li Cover it up with another stickers
            li Or - if you are adept at tactile detection - check if the sticker is hiding something underneath 
        
        p.
            Let my stance be clear: do NOT do this. And that isn't a bid for respectability politics.
            This is because this assumes that a far-right person will remove it.
            So remember: the chance that an innocent government worker, volunteer, store employee,
            or random person might be tasked with removing the sticker is not impossible.
            Hurting innocent people is a price not worth paying.
        


    section
        h2 Far-right stickers detected in Antwerp
        p.
            This list is not exhaustive,
            these are merely stickers and signs that have been spotted in Antwerp by contributors to the website.
        
        img(src="/assets/stickers/vlaams-rechts-radikaal-www.nsv.be.png")