@import "style/variables";
@import "style/fonts";
@import "style/accessibility";
@import "style/nav";

html {
    height: 100%;
}

body {
    min-height: 100%;

    padding: 0;
    margin: 0;

    font-family: "OpenDyslexic", Arial, Helvetica, sans-serif;
    font-size: 1rem;

    color: black;

    background-color: white;
    //background: linear-gradient($one 10%, white 10% 20%, $two 20%) $two;
    background-repeat: no-repeat;
}

a {
    outline-color: $one;
    outline-offset: 4px;

    text-underline-offset: 4px;

    &:link {
        color: #ff0000;
    }
    &:visited {
        color: #ff5500;
    }
    &:hover {
        color: #980000;
        font-size: 1.05rem;
    }
    &:active {
        color: $two;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    tr:nth-child(even) {
        background-color: #ffdddd;
    }
    td {
        padding: 3px;
        vertical-align: middle;        
    }
    img {
        max-width: 100px;
        margin: auto;
        @media (max-width: 600px) {
            max-width: 50px;
        }
    }
}

header {
    background-color: $two;
    padding-bottom: 40px;
    nav {
        background-color: $one;
    }
    a {
        &:link {
            color: white;
        }
        &:visited {
            color: #c1c1c1;
            text-decoration-color: black;
        }
        &:hover {
            color: #ffc6c6;
        }
        &:active {
            color: $two;
        }
    }
}

main {
    width: 80%;
    @media (max-width: 600px) {
        width: 95%;
    }
    margin: auto;
}
